.favoritos_card{
    background-color:#fff ;
    width: 70%;
    border-bottom: 1px solid rgb(177, 177, 177);
    cursor: pointer;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.favoritos_card:hover .boton_favoritos_favoritos  {
    opacity: 1;
}

.favoritos_img{
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    height: 250px;
}

.favoritos_img img {
    width: 50%;
}

.boton_favoritos_favoritos{
    opacity: 0;
    transition: 0.5s ease;
}

.favoritos_info{
    width: 60%;
    height: 250px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.favoritos_header{
    display: flex;
    flex-direction: column;
    padding-top: 45px;
}


.mensaje_oferta_favoritos{
    margin: 0;
    background-color: blue;
    color: white;
    font-weight: bold;
    padding: 0 5px;
    margin: 0 auto;
    margin-top: 5px;
    width: 90%;
    text-align: center;
    border-radius: 10px;
}

.favoritos_header h4{
    text-align: center;
    margin: 0;
    font-size: 20px;
}

.card_precios_favoritos{
    padding: 5px 0;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    padding-bottom: 10px;
}

.precio_viejo_favoritos{
    margin: 0;
    color: rgb(106, 106, 106);
    text-decoration: line-through;
    font-weight: bolder;
}

.precio_favoritos{
    margin: 0;
    font-size: 20px;
    font-weight: bolder;
}


