header{
    position: relative;
    /*background: linear-gradient(90deg, #B49FDC , #C5EBFE , #FEFD97 , #A5FBCE);*/
    background-color: white;

}
 
nav{
    position: relative;
}

.navbar_contenedor{
    max-width: 93rem;
    margin: 0 auto;

}

.navbar_header{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 15px 0;
}


.Logo{
    width: 50px;
    height: 50px;
}

.navbar_opciones{
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.menu_ususario_boton{
    padding: 10px 15px;
    background-color: blue;
    text-decoration: none;
    color: white;
    border-radius: 5px;
    margin: 0 5px;
}

.menu_ususario{
    width: 30px;
    height: 30px;
    padding: 10px;
    fill: black;
    transition: all 0.5s;
}

.menu_usuario_perfil:hover{
    transform: scale(1.2);
    
}

.menu_usuario_corazon:hover{
    fill: rgb(218, 16, 16);
    animation: animacion_corazon 1s infinite;
}

.categorias{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: nowrap;
}


.categorias button{
     background-color: transparent;
     padding: 5px;
     border: none;
     margin: 5px 0;
     cursor: pointer;
}

.categorias button:hover{
     font-weight: bolder;
}

.navbar_body{
    padding: 15px 0;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.navbar_menu_option{
    padding: 10px 20px;
    text-decoration: none;
    color: #000;
    font-weight: bolder;
}

.navbar_menu_option:hover{
    color: blue;
}

.agregar_producto{
    text-decoration: none;
    color: black;
    font-weight: bolder;
}

.flecha_abajo{
    font-size: 10px;
    margin: 0 5px;
}

.navbar_footer{
    position: absolute;
    width: 100%;
    /*background: linear-gradient(90deg, #B49FDC , #C5EBFE , #FEFD97 , #A5FBCE);*/
    background-color: white;
    border-bottom: 1px solid #000;
    z-index: 2;

}

.navbar_footer .categorias{
    padding: 10px 35px;
}

.navbar_categorias_option{
    padding: 10px 10px;
    text-decoration: none;
    font-weight: bolder;
    color: #000000;
}



@keyframes animacion_corazon {
    0% { transform: scale(1); }
    50% { transform: scale(1.2); }
    62% { transform: scale(1); }
    74% { transform: scale(1.2); }
    100%{ transform: scale(1);}
}