.informacion_articulos_botones{
 display: flex;
 align-items: center;
 flex-direction: column;
 width: 50%;
}

.informacion_boton_eliminar button, .informacion_boton_editar button , .informacion_boton_favoritos button{
    padding: 10px;
    width: 250px;
    border: none;
    font-weight: bold;
    margin-bottom: 10px;
    border-radius: 5px;
    cursor: pointer;
    color: #fff;
}

.informacion_boton_eliminar button{
    background-color: red;
}

.boton_editar {
    background-color: rgb(0, 177, 103);
    padding: 7px;
    width: 235px;
    border: none;
    font-weight: bold;
    margin-bottom: 10px;
    border-radius: 5px;
    cursor: pointer;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}

.informacion_boton_favoritos button{
    background-color: blue;
}

.informacion_boton_comprar{
    width: 100%;
}