.Conteendor_agregar_producto{
    background-color: rgb(234, 234, 234);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
}

.Conteendor_agregar_producto form{
    background-color: #fff;
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    height: auto;
    width: 90%;
}

.registrar_articulo , .registrar_precio , .registrar_precio_descuento , .registrar_descripcion , .registrar_Categoria , .registrar_Oferta , .agregar_categoria_nueva , .imagen_subir_archivo {
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
    margin: 10px 0;
}


.registrar_articulo input , .registrar_precio input , .registrar_precio_descuento input , .registrar_descripcion textarea ,  .registrar_Oferta input , .imagen_subir_archivo input {
    padding: 5px;;
    outline: none;
    width: 100%;
    margin: 0 auto;
}

.registrar_articulo label , .registrar_precio label , .registrar_precio_descuento label ,   .registrar_Categoria label , .registrar_descripcion label , .agregar_categoria_nueva label , .imagen_subir_archivo label{
    position: absolute;
    padding: 5px;
    top: 0;
    left: 0;
    pointer-events: none;
}


.registrar_articulo input:focus ~ label , .registrar_precio input:focus ~ label , .registrar_precio_descuento input:focus ~ label ,  .registrar_descripcion textarea:focus ~ label , .agregar_categoria_nueva input:focus ~ label , .imagen_subir_archivo input:focus ~ label{
     top: -10px;
     background-color: #fff;
     padding: 1px;
     font-size: 12px;
     transition: all 0.2s;
     font-weight: bolder;
}

.agregar_categoria_nueva{
    display: flex;
    position: relative;
    
}

.agregar_categoria_nueva input{
    padding: 5px;;
    outline: none;
    width: 350px;
}


select {
    padding: 5px;;
    width: 350px;
}

.registrar_imagen{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    margin: 10px 0;
}
    
.imagen{
    border: 1px solid black;
    width: 350px;
    height: 350px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.imagen img {
    width: 100%;
    height: auto;
}



.registrar_boton{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.registrar_boton button , .agregar_categoria_nueva button , .registrar_Categoria button{
    padding: 5px 10px;
    border: none;
    font-weight: bold;
    background-color: pink;
    cursor: pointer;
}
 

@media ( max-width : 600px){

    .imagen{
        width: 90%;
        margin: 0 auto;
     }

}